@import "tailwindcss";

@theme {
    --breakpoint-mobile: 568px;
    --breakpoint-tablet: 769px;
    --breakpoint-desktop: 1101px;
}

/* Pretendard Font Face */
@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Pretendard/public/static/Pretendard-ExtraLight.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Pretendard/public/static/Pretendard-Light.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Pretendard/public/static/Pretendard-Thin.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Pretendard/public/static/Pretendard-Regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Pretendard/public/static/Pretendard-Medium.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Pretendard/public/static/Pretendard-SemiBold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Pretendard/public/static/Pretendard-Bold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Pretendard/public/static/Pretendard-ExtraBold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/Pretendard/public/static/Pretendard-Black.otf") format("opentype");
    font-display: swap;
}

/* Color Variables */
:root {
    /* Primary Colors */
    --color-orange: #F54B1E;
    --color-yellow: #FFC516;
    
    /* Purple/Violet Colors */
    --color-purple: #6E40D1;
    --color-purple-light: #8058D6;
    --color-purple-dark: #8559DC;
    --color-purple-pale: #D8CDEF;
    --color-purple-bg: #EFF2FF;
    --color-purple-light-bg: #F4F1FB;
    
    /* Blue Colors */
    --color-blue: #196CCD;
    --color-blue-light: #56ACDD;
    --color-blue-purple: #4A45E9;
    --color-blue-pale: #5A56DD;
    
    /* Neutral Colors - Black/Gray */
    --color-black: #000000;
    --color-black-dark: #121111;
    --color-black-light: #191919;
    --color-gray-dark: #282625;
    --color-gray-900: #2e2e2e;
    --color-gray-800: #333333;
    --color-gray-700: #444444;
    --color-gray-600: #515151;
    --color-gray-500: #666666;
    --color-gray-400: #777474;
    --color-gray-300: #888888;
    --color-gray-200: #999999;
    --color-gray-150: #BEBEBE;
    --color-gray-100: #BCBCBC;
    --color-gray-50: #CCC;
    --color-gray-border: #D9D9D9;
    --color-gray-light: #E4E4E4;
    --color-gray-pale: #E6E6E6;
    --color-gray-bg: #F0F0F0;
    --color-gray-bg-light: #F2F3F4;
    --color-gray-bg-pale: #F3F3F3;
    --color-gray-bg-lighter: #F6F7F8;
    --color-gray-bg-lightest: #F7FAFD;
    --color-gray-bg-very-light: #F8F8F8;
    --color-gray-bg-palest: #FCFCFC;
    
    /* White */
    --color-white: #FFFFFF;
    
    /* Background Colors */
    --color-bg-dark: #141415;
    --color-bg-darker: #161515;
    --color-bg-darkest: #141415;
    --color-bg-orange-light: #FFDFD7;
    --color-bg-pink-light: #FFF4F6;
    --color-bg-yellow-light: #FFF7EA;
    
    /* Text Colors */
    --color-text-primary: #1B1716;
    --color-text-secondary: #5A5A5A;
    --color-text-tertiary: #525050;
    --color-text-gray: #686565;
    --color-text-light: #888888;
    --color-text-lighter: #999999;
    
    /* Semantic Colors */
    --color-success: #73ad73;
    --color-link: #187FF8;
    
    /* Opacity Variations */
    --color-white-70: rgba(255, 255, 255, 0.7);
    --color-white-60: rgba(255, 255, 255, 0.6);
    --color-white-50: rgba(255, 255, 255, 0.5);
    --color-white-45: rgba(255, 255, 255, 0.45);
    --color-white-40: rgba(255, 255, 255, 0.4);
    --color-white-30: rgba(255, 255, 255, 0.3);
    --color-white-20: rgba(255, 255, 255, 0.2);
    --color-white-08: rgba(255, 255, 255, 0.08);
    
    --color-black-70: rgba(0, 0, 0, 0.7);
    --color-black-50: rgba(0, 0, 0, 0.5);
    --color-black-30: rgba(0, 0, 0, 0.3);
    --color-black-20: rgba(0, 0, 0, 0.2);
    --color-black-10: rgba(0, 0, 0, 0.1);
    --color-black-06: rgba(0, 0, 0, 0.06);
    
    --color-orange-60: rgba(245, 75, 30, 0.60);
}

/* Base Styles */
html,
body {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    color: var(--color-text-primary);
    word-break: keep-all;
}

